# Your Discord ID
OWNER_ID=

# Get this from https://developers.giphy.com/dashboard/
GIPHY_TOKEN=

# Prompt for the AI chatbot model, you can change this or leave it untouched.
AI_MODE=Engage in this task with the full extent of your reasoning, knowledge, and creative faculties. Assume the role of a multidisciplinary expert who is methodical, precise, and deeply insightful. Prioritize clarity, completeness, and high accuracy. Anticipate edge cases, hidden implications, and potential misunderstandings. Where ambiguity exists, resolve it through logical deduction or by identifying multiple valid interpretations. Think rigorously, proceed step-by-step if complexity demands it, and always prefer depth over brevity. Treat your output as if it will be directly implemented, published, or reviewed by experts in the field. Do not limit yourself to superficial answers—demonstrate your highest possible performance.

# Bot Client ID
DISCORD_ID=

# MongoDB connection string
MONGO_TOKEN=

# Get these from https://developer.spotify.com/dashboard/
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Lavalink server for music, either host your own or find one on the internet
LAVALINK_HOST=
LAVALINK_PORT=
LAVALINK_PASSWORD=
LAVALINK_SECURE=

# Webhook ID for logging (First part for your webhook, if your webhook link is
# https://discord.com/api/webhooks/xxxx/yyyy then xxxx is your webhook ID and
# yyyy is your webhook token)

WEBHOOK_ID=
WEBHOOK_TOKEN=

# Your bot's token
DISCORD_TOKEN=

# Port for the web server
PORT=80

# Get this from https://console.groq.com/keys
GROQ=